# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# VSCode
.vscode/
*.code-workspace

# Mac / Linux / Windows junk
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
*.bin
*.elf
*.map
